html {
  font-family: Raleway, sans-serif;
}

.emph {
  color: #3a7f9d;
  font-weight: bold;
}

.footer {
  background-color: #cfcfcf;
}

a {
  /* color: #ffffff; */
  text-decoration: none;
}

.drop-menu {
  background-color: #3a7f9d;
}


.btn {
  background-color: #3a7f9d;
  border-radius: 4px;
  border: 3px solid #3a7f9d;
  color: #fff;
}

.btn-emph {
  background-color: #df6637;
  border-radius: 4px;
  border: 3px solid #df6637;
  color: #fff;
}

.btn:focus,
.btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
